@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 44px;
    }


    .cont
    {
        padding: 0 32px;
    }


    .block
    {
        margin-bottom: 80px;
    }



    .swiper-button-prev
    {
        left: 60px;
    }

    .swiper-button-next
    {
        right: 60px;
    }


    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction
    {
        bottom: 32px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 20px 0;
    }


    header.border
    {
        margin-bottom: 72px;
    }

    header.border:after
    {
        width: calc(100vw - 64px);
    }


    header .socials
    {
        margin-left: 28px;
    }


    header .menu:not(.menu2)
    {
        padding-right: 32px;
        padding-left: 32px;
    }


    header .menu2 > * + *
    {
        margin-left: 24px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 48px;
    }


    .block_head .sub_title
    {
        font-size: calc(var(--font_size_title) - 12px);

        margin-top: 16px;
    }


    .block_head .desc
    {
        line-height: 28px;

        margin-top: 28px;
    }

    .block_head .sub_title + .desc
    {
        margin-top: 22px;
    }


    .block_head .icon
    {
        margin-bottom: 32px;
    }

    .block_head .icon img
    {
        max-width: 80px;
        max-height: 80px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns
    {
        --form_columns_offset: 28px;
    }


    .form .line
    {
        margin-bottom: 20px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        line-height: 25px;
    }


    .text_block > *,
    .text_block .cols .col > *,
    .text_block blockquote > *
    {
        margin-bottom: 20px;
    }


    .text_block h3
    {
        font-size: 28px;
        line-height: calc(100% + 6px);

        margin-bottom: 32px;
    }

    .text_block h4
    {
        font-size: 24px;
        line-height: calc(100% + 6px);

        margin-bottom: 28px;
    }

    .text_block h5
    {
        font-size: 19px;
        line-height: calc(100% + 6px);

        margin-bottom: 28px;
    }


    .text_block * + h2,
    .text_block * + h3,
    .text_block * + h4,
    .text_block * + h5
    {
        margin-top: 68px;
    }


    .text_block blockquote
    {
        font-size: 15px;

        width: 1000px;
        padding: 43px 49px;
    }


    .text_block .message
    {
        font-size: 22px;
        line-height: 32px;
    }


    .text_block .cols
    {
        margin-left: -40px;
    }

    .text_block .cols .col
    {
        width: calc(33.333% - 40px);
        margin-left: 40px;
    }


    .text_block ul li:before
    {
        top: 8px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .title
    {
        font-size: 84px;
    }


    .main_slider .desc
    {
        font-size: 32px;
    }



    /*----------------
        Directions
    ----------------*/
    .directions .item
    {
        font-size: 20px;
        line-height: 20px;

        padding: 23px 19px;
    }


    .directions .item .icon
    {
        height: 100px;
    }



    /*-----------------
        About block
    -----------------*/
    .about_block .data
    {
        padding: 60px 40px;
    }


    .about_block .info
    {
        width: calc(50% + 8px);
    }


    .about_block .info .title
    {
        font-size: 28px;
    }


    .about_block .info ul
    {
        column-gap: 32px;
    }


    .about_block .video_link
    {
        width: calc(50% - 24px);
        margin-right: -40px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .item
    {
        font-size: 14px;
        line-height: 22px;
    }


    .advantages .item .icon
    {
        margin-right: 16px;
    }


    .advantages .item img
    {
        max-width: 84px;
        max-height: 76px;
    }


    .advantages .categories
    {
        margin-top: 52px;
    }



    /*----------------
        Categories
    ----------------*/
    .categories .data
    {
        min-height: 260px;
        padding: 24px;
    }


    .categories .years
    {
        font-size: 32px;
        line-height: calc(100% + 12px);

        width: 240px;
        height: 212px;
    }

    .categories .years .amount
    {
        font-size: 160px;

        margin: -52px 0 -20px;
    }


    .categories .items
    {
        font-size: 32px;
        line-height: calc(100% + 12px);

        width: calc(50% - 164px);
    }

    .categories .sep
    {
        margin: 0 28px;
    }



    /*----------------
        Our_rating
    ----------------*/
    .our_rating .grid
    {
        grid-gap: 20px;
    }


    .our_rating .discount
    {
        padding: 20px;
    }


    .our_rating .discount .percents
    {
        font-size: 120px;

        margin-top: -24px;
        margin-bottom: 0;
    }


    .our_rating .discount .title
    {
        font-size: 26px;
        line-height: 30px;
    }

    .our_rating .discount .title br
    {
        display: none;
    }


    .our_rating .discount .icon
    {
        width: 38px;
        height: 31px;
    }


    .our_rating .discount .desc
    {
        font-size: 22px;
        line-height: 28px;
    }

    .our_rating .discount .desc br
    {
        display: none;
    }



    .our_rating .item .name
    {
        line-height: 16px;

        bottom: 12px;

        width: calc(100% - 12px);
        min-height: 50px;
        padding-right: 8px;
        padding-left: 56px;
    }

    .our_rating .item .number,
    .our_rating .item .number.lh_default
    {
        font-size: 32px;
        line-height: 32px;

        width: 45px;
    }


    .our_rating .item:nth-child(1) .number,
    .our_rating .item:nth-child(2) .number
    {
        padding-bottom: 9px;
    }



    /*---------------
        Get price
    ---------------*/
    .get_price .info
    {
        width: 360px;
        min-height: 320px;
        padding: 28px;
    }


    .get_price .title
    {
        font-size: 30px;
        line-height: 34px;
    }


    .get_price .btn
    {
        line-height: 20px;

        width: 112px;
        height: 48px;
        margin-top: 24px;
    }


    .get_price .image,
    .get_price .data:after
    {
        width: calc(100% - 360px);
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .images,
    .contacts_info .data
    {
        width: calc(50% - 36px);
    }


    .contacts_info .data .title
    {
        line-height: calc(100% + 8px);

        margin-bottom: 36px;
    }


    .contacts_info .phone a,
    .contacts_info .time,
    .contacts_info .email a,
    .contacts_info .location,
    .contacts_info .socials a
    {
        font-size: 16px;
        line-height: 24px;
    }


    .contacts_info .time,
    .contacts_info .email,
    .contacts_info .location,
    .contacts_info .socials
    {
        margin-top: 16px;
    }



    /*------------------
        Contacts map
    ------------------*/
    .contacts_map .map
    {
        height: 500px;
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .data
    {
        padding: 52px;
    }


    .action_form .info
    {
        width: 420px;
    }

    .action_form .desc
    {
        font-size: 14px;
        line-height: 22px;
    }


    .action_form .form
    {
        width: calc(100% - 500px);
    }



    /*-----------
        Areas
    -----------*/
    .areas .images,
    .areas .data
    {
        width: calc(50% - 28px);
    }


    .areas .video_link .btn
    {
        line-height: 50px;

        bottom: 24px;
    }

    .areas .video_link .icon
    {
        width: 72px;
        height: 50px;
    }

    .areas .video_link .btn span
    {
        padding: 0 16px;
    }


    .areas .head > *:first-child
    {
        max-width: calc(100% - 244px);
    }


    .areas .rating .val
    {
        font-size: 20px;
        line-height: 56px;

        width: 56px;
        height: 56px;
        margin-left: 12px;
    }



    /*------------
        Banner
    ------------*/
    .banner .image
    {
        width: calc(50% - 36px);
        min-height: 352px;
    }

    .banner .image.big_w
    {
        width: calc(50% + 36px);
    }


    .banner .info
    {
        width: calc(50% + 36px);
    }

    .banner .info.min_w
    {
        width: calc(50% - 36px);
    }


    .banner .title
    {
        font-size: calc(var(--font_size_title) - 8px);
        line-height: calc(100% + 8px);
    }



    /*--------------
        Projects
    --------------*/
    .projects .row
    {
        margin-bottom: -44px;
        margin-left: -24px;
    }

    .projects .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 44px;
        margin-left: 24px;
    }


    .projects .text_block
    {
        margin-bottom: 44px;
    }


    .projects .project .direction
    {
        top: 12px;
        right: 12px;

        width: 72px;
        height: 72px;
        padding: 10px;
    }


    .projects .project .name
    {
        font-size: 18px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .swiper
    {
        margin-bottom: 52px;
    }

    .clients .swiper:after
    {
        bottom: -52px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .review
    {
        padding: 27px 99px 27px 27px;
    }

    .reviews .review + .review
    {
        margin-top: 32px;
    }


    .reviews .review .logo
    {
        width: 300px;
        padding-right: 31px;
    }

    .reviews .review .logo + *
    {
        width: calc(100% - 348px);
    }


    .reviews .review .text
    {
        font-size: 15px;
        line-height: 25px;
    }

    .reviews .review .author
    {
        font-size: 14px;
        line-height: 22px;

        margin-top: 16px;
    }



    /*------------
        Videos
    ------------*/
    .videos .video .name
    {
        font-size: 18px;
        line-height: 26px;
    }


    .videos .video .icon
    {
        width: 80px;
        height: 80px;
    }

    .videos .video .icon svg
    {
        width: 30px;
        height: 34px;
    }



    /*----------------
        About head
    ----------------*/
    .about_head .data
    {
        min-height: 360px;
    }


    .about_head .data .title
    {
        line-height: calc(100% + 16px);
    }

    .about_head .data .title span
    {
        font-size: calc(var(--font_size_title) + 16px);
    }



    /*----------------
        Info block
    ----------------*/
    .info_block
    {
        margin-bottom: 72px;
    }


    .info_block .block_head
    {
        margin-bottom: 52px;
    }


    .info_block .image,
    .info_block .items
    {
        width: calc(50% - 32px);
    }


    .info_block .item
    {
        line-height: 23px;
    }

    .info_block .item + .item
    {
        margin-top: 52px;
    }


    .info_block .item .thumb
    {
        width: 140px;
        height: 120px;
    }

    .info_block .item .thumb:before
    {
        top: 12px;
        right: 12px;
    }

    .info_block .item .thumb + *,
    .info_block .item:nth-child(2n) .thumb + *
    {
        width: calc(100% - 164px);
    }



    /*-----------------
        About stats
    -----------------*/
    .about_stats .data
    {
        padding: 60px 40px 252px;
    }


    .about_stats .data .item
    {
        font-size: 14px;
        line-height: 24px;
    }

    .about_stats .data .item .val
    {
        font-size: 108px;

        margin-bottom: 20px;
    }


    .about_stats .video_link
    {
        width: 680px;
        margin-top: -180px;
    }


    .about_stats .video_link .btn
    {
        line-height: 50px;

        bottom: 24px;
    }

    .about_stats .video_link .icon
    {
        width: 72px;
        height: 50px;
    }

    .about_stats .video_link .btn span
    {
        padding: 0 16px;
    }



    /*------------
        Events
    ------------*/
    .events
    {
        margin-bottom: 80px;
    }


    .events .list:before,
    .events .list:after
    {
        width: calc(50% - 36px);
    }


    .events .event + .event
    {
        margin-top: 72px;
    }


    .events .images
    {
        width: calc(50% - 36px);
    }


    .events .data
    {
        width: calc(50% - 36px);
        padding: 24px 0;
    }


    .events .sub
    {
        line-height: 24px;

        margin-top: 20px;
    }



    /*-------------
        Letters
    -------------*/
    .letters .data
    {
        padding: 48px 40px;
    }


    .letters .title
    {
        font-size: calc(var(--font_size_title) - 10px);
    }



    /*------------------
        Slider block
    ------------------*/
    .slider_block .data
    {
        height: 500px;
        padding: 60px 80px;
    }


    .slider_block .title
    {
        font-size: 44px;
    }

    .slider_block .sub_title
    {
        font-size: 22px;
    }



    /*-----------------
        Video block
    -----------------*/
    .video_block .data
    {
        padding: 60px;
    }


    .video_block .info
    {
        max-width: calc(50% - 40px);
    }


    .video_block .line
    {
        width: 80px;
        margin-top: 28px;
    }


    .video_block .image
    {
        width: calc(50% + 32px);
        margin-left: -60px;
    }

    .video_block .info + .image
    {
        margin-right: -60px;
        margin-left: auto;
    }



    /*---------
        FAQ
    ---------*/
    .faq .block_title
    {
        font-size: 19px;
        line-height: calc(100% + 6px);

        margin-bottom: 28px;
    }



    /*---------------------
        Thematic design
    ---------------------*/
    .thematic_design .item .name
    {
        font-size: 15px;
        line-height: 23px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        margin-bottom: 32px;
    }


    footer .data
    {
        padding: 52px;
    }


    footer .col_left
    {
        width: 228px;
    }


    footer .copyright
    {
        line-height: 22px;

        margin-top: 40px;
    }


    footer .menu + .menu
    {
        margin-left: 48px;
    }


    footer .location
    {
        margin-top: 40px;
    }


    footer .email
    {
        margin-top: 28px;
    }



    /*-----------
        PopUp
    -----------*/
    .booking_modal
    {
        width: 100%;
    }


    .booking_modal .phone
    {
        margin-top: 28px;
    }



    .project_modal .info > *
    {
        margin: 0 10px;
    }


    .project_modal .desc
    {
        margin-top: 24px;
    }



    .quiz_modal
    {
        padding: 50px;
    }


    .quiz_modal .contacts_data
    {
        width: calc(100% + 100px);
        margin: 50px -50px -50px;
        padding: 50px;
    }

    .quiz_modal .contacts_data .bg
    {
        left: 0;

        width: 100%;
    }


    .quiz_modal .location
    {
        margin-bottom: -10px;
        margin-left: -10px;
    }

    .quiz_modal .location > *
    {
        width: calc(25% - 10px);
        margin-bottom: 10px;
        margin-left: 10px;
    }


    .quiz_modal .location .check,
    .quiz_modal .idea .check,
    .quiz_modal .emotions .check
    {
        margin-bottom: 12px;
    }

    .quiz_modal .location .name,
    .quiz_modal .idea .name,
    .quiz_modal .emotions .name
    {
        font-size: 15px;
        line-height: 23px;
    }


    .quiz_modal .banners .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .quiz_modal .banners .row > *
    {
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .quiz_modal .banner img
    {
        height: 236px;
    }


    .quiz_modal .form.step3,
    .quiz_modal .form.step4
    {
        width: calc(100% + 100px);
        margin: 0 -50px;
        padding: 0 50px;
    }



    .band_modal
    {
        padding-right: 50px;
        padding-left: 50px;
    }


    .band_modal .gallery .item
    {
        line-height: 24px;
    }


    .band_modal .gallery .carousel .slide > * + *,
    .band_modal .gallery .item > * + *
    {
        margin-top: 20px;
    }


    .band_modal .btns
    {
        margin-top: 48px;
    }
}
