@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    .carousel .swiper-button-next,
    .carousel .swiper-button-prev
    {
        width: 50px;
        height: 50px;
    }

    .carousel .swiper-button-next .icon,
    .carousel .swiper-button-prev .icon
    {
        width: 25px;
        height: 20px;
    }



    .swiper-button-prev
    {
        left: 44px;
    }

    .swiper-button-next
    {
        right: 44px;
    }

    .swiper-button-next .icon,
    .swiper-button-prev .icon
    {
        width: 34px;
        height: 27px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        padding: 16px 75px 16px 23px;
    }


    .accordion_item .head .title
    {
        font-size: 15px;
        line-height: 23px;
    }


    .accordion_item .data
    {
        padding: 0 23px 16px;
    }



    /*------------
        Header
    ------------*/
    header.border
    {
        margin-bottom: 52px;
    }


    header .logo img
    {
        width: 180px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .title
    {
        line-height: calc(100% + 8px);

        letter-spacing: 0;
    }


    .block_head .sub_title
    {
        font-size: calc(var(--font_size_title) - 10px);
    }


    .block_head .desc
    {
        font-size: 14px;
        line-height: 22px;

        margin-top: 20px;
    }


    .block_head.center.mob_left
    {
        padding-right: 132px;

        text-align: left;

        justify-content: flex-start;
    }

    .block_head.center.mob_left .title
    {
        width: auto;
    }

    .block_head.center.mob_left .desc
    {
        margin-right: 0;
        margin-left: 0;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h3
    {
        font-size: 26px;

        margin-bottom: 24px;
    }

    .text_block h4
    {
        font-size: 23px;

        margin-bottom: 20px;
    }


    .text_block * + h2,
    .text_block * + h3,
    .text_block * + h4,
    .text_block * + h5
    {
        margin-top: 52px;
    }


    .text_block blockquote
    {
        padding: 31px;
    }


    .text_block .message
    {
        font-size: 20px;
        line-height: 28px;
    }


    .text_block .cols
    {
        margin-left: 0;
    }

    .text_block .cols .col
    {
        width: 100%;
        margin-left: 0;
    }

    .text_block .cols .col + .col
    {
        margin-top: 40px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .title
    {
        font-size: 64px;
    }


    .main_slider .desc
    {
        font-size: 24px;

        margin-top: 4px;
    }



    /*----------------
        Directions
    ----------------*/
    .directions
    {
        margin-bottom: 60px;
    }


    .directions .block_head
    {
        margin-bottom: 20px;
    }



    /*-----------------
        About block
    -----------------*/
    .about_block .data
    {
        padding: 48px 40px;
    }


    .about_block .info .title
    {
        font-size: 26px;
        line-height: 30px;
    }


    .about_block .video_link
    {
        width: 560px;
    }


    .about_block .video_link .btn
    {
        line-height: 40px;

        bottom: 16px;
    }

    .about_block .video_link .icon
    {
        width: 56px;
        height: 40px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .block_head
    {
        margin-bottom: 32px;
    }


    .advantages .item
    {
        line-height: 20px;
    }



    /*----------------
        Categories
    ----------------*/
    .categories .data
    {
        min-height: 220px;
    }


    .categories .years
    {
        position: relative;

        margin: 0 auto;
    }


    .categories .items
    {
        display: block;

        width: auto;
        margin: 0 auto;

        text-align: center;
    }

    .categories .sep
    {
        top: 0;

        margin: 8px auto;
    }



    /*----------------
        Our_rating
    ----------------*/
    .our_rating .discount
    {
        padding: 20px;

        grid-row: 1 / 5;
        grid-column: 3 / 4;
    }

    .our_rating .discount .percents
    {
        display: block;
    }



    /*---------------
        Get price
    ---------------*/
    .get_price .info
    {
        width: 300px;
        min-height: 240px;
    }


    .get_price .title
    {
        font-size: 27px;
        line-height: 31px;
    }


    .get_price .image,
    .get_price .data:after
    {
        width: calc(100% - 300px);
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .images
    {
        margin-bottom: 52px;
    }


    .contacts_info .images,
    .contacts_info .data
    {
        width: 100%;
    }


    .contacts_info .data .title
    {
        line-height: calc(100% + 4px);

        margin-bottom: 24px;
    }


    .contacts_info .phone a,
    .contacts_info .time,
    .contacts_info .email a,
    .contacts_info .location,
    .contacts_info .socials a
    {
        font-size: 15px;
        line-height: 23px;
    }


    .contacts_info .time,
    .contacts_info .email,
    .contacts_info .location,
    .contacts_info .socials
    {
        margin-top: 12px;
    }



    /*------------------
        Contacts map
    ------------------*/
    .contacts_map .map
    {
        height: 450px;
    }



    /*-----------
        Areas
    -----------*/
    .areas .swiper-button-next,
    .areas .swiper-button-prev
    {
        top: -90px;
    }


    .areas .images
    {
        margin-bottom: 32px;
    }

    .areas .images,
    .areas .data
    {
        width: 100%;
    }


    .areas .video_link .btn
    {
        line-height: 40px;

        bottom: 16px;
    }

    .areas .video_link .icon
    {
        width: 56px;
        height: 40px;
    }


    .areas .head > *:first-child
    {
        max-width: calc(100% - 80px);
    }


    .areas .areas_direstions > *:first-child .tooltip
    {
        left: 0;

        transform: none;
    }

    .areas .areas_direstions > *:first-child .tooltip:before
    {
        left: 28px;
    }



    /*------------
        Banner
    ------------*/
    .banner .image,
    .banner .image.big_w
    {
        width: 100%;
        min-height: 0;
        padding-bottom: 58%;
    }


    .banner .info,
    .banner .info.min_w
    {
        width: 100%;

        order: 2;
    }


    .banner .desc
    {
        margin-top: 16px;
    }


    .banner .line
    {
        margin-top: 24px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .row > *
    {
        width: calc(50% - 24px);
    }



    /*-------------
        Clients
    -------------*/
    .clients .swiper
    {
        margin-bottom: 40px;
    }

    .clients .swiper:after
    {
        bottom: -40px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .review .logo
    {
        width: 220px;
    }

    .reviews .review .logo + *
    {
        width: calc(100% - 252px);
    }



    /*----------------
        About head
    ----------------*/
    .about_head .data
    {
        min-height: 260px;
    }


    .about_head .data .title
    {
        font-size: calc(var(--font_size_title) - 8px);
        line-height: calc(100% + 8px);
    }

    .about_head .data .title span
    {
        font-size: calc(var(--font_size_title) + 12px);
        line-height: calc(100% + 8px);
    }



    /*----------------
        Info block
    ----------------*/
    .info_block .image
    {
        margin-bottom: 44px;
    }



    /*-----------------
        About stats
    -----------------*/
    .about_stats .data
    {
        width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
        padding: 40px 24px 200px;
    }


    .about_stats .data .item
    {
        line-height: 20px;
    }

    .about_stats .data .item .val
    {
        font-size: 77px;

        margin-bottom: 12px;

        white-space: nowrap;
    }


    .about_stats .video_link
    {
        width: 560px;
        margin-top: -140px;
    }


    .about_stats .video_link .btn
    {
        line-height: 40px;

        bottom: 16px;
    }

    .about_stats .video_link .icon
    {
        width: 56px;
        height: 40px;
    }



    /*------------
        Events
    ------------*/
    .events .list:before,
    .events .list:after
    {
        display: none;
    }


    .events .event + .event
    {
        margin-top: 60px;
    }


    .events .images
    {
        margin-bottom: 44px;

        order: 1;
    }

    .events .images.min_margin
    {
        margin-bottom: 20px;
    }

    .events .data
    {
        padding: 0;

        order: 2;
    }

    .events .images,
    .events .data
    {
        width: 100%;
    }



    /*-------------
        Letters
    -------------*/
    .letters .title
    {
        font-size: calc(var(--font_size_title) - 10px);

        padding: 0 24px;
    }



    /*------------------
        Slider block
    ------------------*/
    .slider_block .data
    {
        height: 400px;
        padding: 40px 80px;
    }


    .slider_block .title
    {
        font-size: 33px;
    }

    .slider_block .sub_title
    {
        font-size: 17px;
    }



    /*-----------------
        Video block
    -----------------*/
    .video_block .title
    {
        font-size: calc(var(--font_size_title) - 6px);
    }


    .video_block .line
    {
        margin-top: 24px;
    }


    .video_block .image
    {
        width: 560px;
    }



    /*---------
        FAQ
    ---------*/
    .faq .block_title
    {
        font-size: 19px;
        line-height: calc(100% + 6px);

        margin-bottom: 28px;
    }



    /*---------------------
        Thematic design
    ---------------------*/
    .thematic_design .item .thumb
    {
        margin-bottom: 16px;
    }


    .thematic_design .item .name
    {
        font-size: 14px;
        line-height: 20px;
    }



    /*------------
        Footer
    ------------*/
    footer .data
    {
        padding: 48px 40px;
    }


    footer .contacts
    {
        width: 360px;
    }


    footer .socials
    {
        margin-left: 24px;
    }


    footer .email
    {
        margin-top: 20px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal .block_head .title
    {
        line-height: calc(100% + 4px);
    }



    .project_modal .info > *
    {
        margin: 0 8px;
    }


    .project_modal .desc
    {
        margin-top: 20px;
    }


    .project_modal .gallery .thumbs
    {
        margin-top: 20px;
    }


    .project_modal .gallery .thumbs button:after
    {
        top: -5px;
        left: -5px;

        width: calc(100% + 10px);
        height: calc(100% + 10px);
    }



    .quiz_modal .contacts_data .title
    {
        font-size: calc(var(--font_size_title) - 12px);
        line-height: calc(100% + 4px);
    }

    .quiz_modal .contacts_data .desc
    {
        font-size: 14px;
        line-height: 22px;

        margin-top: 12px;
    }


    .quiz_modal .location > *
    {
        width: 50%;
    }


    #quiz_finish_modal .total_price
    {
        margin-top: 8px;
    }


    .quiz_modal .banner img
    {
        height: 230px;
    }



    .band_modal .info
    {
        margin-top: 44px;
    }


    .band_modal .head .name
    {
        font-size: 32px;
        line-height: 40px;
    }


    .band_modal .data
    {
        width: 100%;
    }


    .band_modal .text_block
    {
        font-size: 15px;
        line-height: 23px;
    }


    .band_modal .video_link,
    .band_modal .images
    {
        width: 392px;
        margin-top: 40px;
        margin-left: 0;
    }


    .band_modal .video_link .thumb .icon
    {
        width: 100px;
        height: 100px;
    }

    .band_modal .video_link .thumb .icon svg
    {
        width: 35px;
    }
}
