@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 36px;
    }


    .block
    {
        margin-bottom: 60px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }



    .fancybox__content > .carousel__button.is-close
    {
        top: 20px;
        right: 20px;
    }



    /*--------------
        All link
    --------------*/
    .all_link
    {
        margin-top: 40px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 12px 0;
    }


    header.border
    {
        margin-bottom: 40px;
    }


    header .logo img
    {
        width: 168px;
    }


    header .phone,
    header .email
    {
        margin-left: 12px;
    }


    header .mob_menu_btn
    {
        margin-left: 20px;
    }


    header .phone
    {
        padding: 0;
    }

    header .phone .icon,
    header .email .icon
    {
        margin: 0;
    }

    header .phone span,
    header .callback_btn,
    header .email span,
    header .phone a.whatsapp_link
    {
        display: none;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 36px;
    }


    .block_head .sub_title
    {
        font-size: calc(var(--font_size_title) - 12px);

        padding: 0 24px;
    }


    .block_head .icon
    {
        margin-bottom: 20px;
    }

    .block_head .icon img
    {
        max-width: 64px;
        max-height: 64px;
    }


    .block_head .title
    {
        line-height: calc(100% + 4px);
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *.width1of3
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .form .agree
    {
        font-size: 12px;
        line-height: 18px;

        width: calc(100% - 156px);
    }



    /*----------------
        Typography
    ----------------*/
    .text_block.min_w
    {
        font-size: 14px;
        line-height: 22px;
    }


    .text_block h3
    {
        font-size: 24px;

        margin-bottom: 20px;
    }

    .text_block h4
    {
        font-size: 22px;
    }


    .text_block * + h2,
    .text_block * + h3,
    .text_block * + h4,
    .text_block * + h5
    {
        margin-top: 48px;
    }


    .text_block blockquote
    {
        padding: 31px 23px 27px;
    }


    .text_block .message
    {
        font-size: 19px;
        line-height: 27px;
    }


    .text_block .image
    {
        padding-bottom: 50%;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .cont
    {
        padding: 0;
    }


    .main_slider .swiper-button-next,
    .main_slider .swiper-button-prev
    {
        display: none !important;
    }


    .main_slider .data
    {
        padding-bottom: 50%;
    }


    .main_slider .title
    {
        font-size: 56px;
    }


    .main_slider .desc
    {
        font-size: 22px;

        margin-top: 0;
    }



    /*----------------
        Directions
    ----------------*/
    .directions .block_head
    {
        margin-bottom: 32px;
    }


    .directions .item
    {
        display: flex;

        width: 50%;
        padding: 0;

        text-align: left;

        border: none;

        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .directions .item:last-child
    {
        display: none;
    }


    .directions .item .icon
    {
        width: 80px;
        height: 80px;
        margin: 0;
    }

    .directions .item .icon + *
    {
        width: calc(100% - 92px);
    }



    /*-----------------
        About block
    -----------------*/
    .about_block .data
    {
        width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
        padding: 48px 24px 60px;
    }


    .about_block .info .title
    {
        font-size: 25px;
        line-height: 27px;
    }


    .about_block .info ul
    {
        column-gap: 0;
        column-count: 1;
    }


    .about_block .video_link
    {
        width: 100%;
    }

    .about_block .video_link:before
    {
        top: 12px;
        right: 12px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .row
    {
        justify-content: center;
    }

    .advantages .row > *
    {
        width: calc(33.333% - 24px);
    }



    /*----------------
        Categories
    ----------------*/
    .categories .data
    {
        min-height: 0;
    }


    .categories .years
    {
        width: 100%;
        margin: 0 0 24px;
    }



    /*----------------
        Our_rating
    ----------------*/
    .our_rating .grid
    {
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }


    .our_rating .discount
    {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }

    .our_rating .discount .percents
    {
        display: none;
    }

    .our_rating .discount .title
    {
        font-size: 24px;
        line-height: 28px;
    }

    .our_rating .discount .desc
    {
        font-size: 21px;
        line-height: 27px;
    }



    /*---------------
        Get price
    ---------------*/
    .get_price .data
    {
        padding-bottom: 160px;
    }


    .get_price .info
    {
        display: block;

        width: 100%;
        min-height: 0;
        padding: 32px 24px;
    }


    .get_price .title
    {
        font-size: 26px;
        line-height: 30px;
    }


    .get_price .image,
    .get_price .data:after
    {
        top: auto;
        bottom: 0;

        width: 100%;
        height: 160px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .images
    {
        margin-bottom: 40px;
    }

    .contacts_info .images:before
    {
        top: 12px;
        left: 12px;
    }


    .contacts_info .phone a,
    .contacts_info .time,
    .contacts_info .email a,
    .contacts_info .location,
    .contacts_info .socials a
    {
        font-size: 14px;
        line-height: 22px;
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .data
    {
        width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
        padding: 44px 24px;
    }


    .action_form .title
    {
        font-size: calc(var(--font_size_title) - 8px);
        line-height: calc(100% + 12px);
    }


    .action_form .desc
    {
        font-size: 13px;
        line-height: 19px;

        margin-top: 4px;
    }



    /*------------------
        Contacts map
    ------------------*/
    .contacts_map .cont
    {
        padding: 0;
    }

    .contacts_map .map
    {
        height: 400px;
    }



    /*-----------
        Areas
    -----------*/
    .areas
    {
        margin-bottom: 60px;
    }


    .areas .swiper-button-next,
    .areas .swiper-button-prev
    {
        top: -86px;
    }


    .areas .desc
    {
        line-height: 22px;
    }


    .areas .item + .item
    {
        margin-top: 60px;
    }


    .areas .images
    {
        margin-bottom: 24px;
    }

    .areas .images:before
    {
        top: 12px;
        left: 12px;

        height: calc(100% - 28px);
    }

    .areas .images .swiper
    {
        padding-bottom: 28px;
    }

    .areas .images .swiper-horizontal > .swiper-pagination-bullets,
    .areas .images .swiper-pagination-bullets.swiper-pagination-horizontal,
    .areas .images .swiper-pagination-custom,
    .areas .images .swiper-pagination-fraction
    {
        padding: 0 12px;
    }


    .areas .areas_name
    {
        font-size: calc(var(--font_size_title) - 6px);
    }



    /*------------
        Banner
    ------------*/
    .banner
    {
        margin-bottom: 60px;
    }


    .banner .info
    {
        padding: 32px 32px 40px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .row
    {
        margin-left: 0;
    }

    .projects .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*-------------
        Clients
    -------------*/
    .clients .swiper
    {
        margin-bottom: 32px;
    }

    .clients .swiper:after
    {
        bottom: -32px;
    }


    .clients .item
    {
        height: 88px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .review
    {
        padding: 23px;
    }


    .reviews .review .logo
    {
        width: 100%;
        margin-bottom: 20px;
        padding: 0 64px;

        border: none;
    }

    .reviews .review .logo + *
    {
        width: 100%;
    }


    .reviews .review .text
    {
        font-size: 14px;
        line-height: 22px;
    }



    /*----------------
        About head
    ----------------*/
    .about_head .data
    {
        width: calc(100% + 48px);
        min-height: 240px;
        margin-right: -24px;
        margin-left: -24px;
    }


    .about_head .data .title
    {
        font-size: calc(var(--font_size_title) - 8px);
        line-height: 100%;
    }

    .about_head .data .title span
    {
        font-size: calc(var(--font_size_title) + 10px);

        display: block;

        margin-top: 8px;
    }



    /*----------------
        Info block
    ----------------*/
    .info_block .image div:before
    {
        top: 12px;
        left: 12px;
    }


    .info_block .item .thumb
    {
        width: 140px;
        height: 120px;
    }


    .info_block .item .thumb + *
    {
        width: calc(100% - 160px);
    }

    .info_block .item:nth-child(2n) .thumb + *
    {
        width: calc(100% - 168px);
    }



    /*-----------------
        About stats
    -----------------*/
    .about_stats .data
    {
        width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
        padding: 40px 24px 152px;
    }


    .about_stats .data .row
    {
        margin-bottom: -24px;
        margin-left: 0;
    }


    .about_stats .data .item
    {
        width: 100%;
        margin-bottom: 24px;
        margin-left: 0;
    }

    .about_stats .data .item .val
    {
        font-size: 85px;
    }


    .about_stats .video_link
    {
        width: 100%;
        margin-top: -100px;
    }

    .about_stats .video_link:before
    {
        top: 12px;
        right: 12px;
    }



    /*------------
        Events
    ------------*/
    .events .event + .event
    {
        margin-top: 52px;
    }


    .events .images
    {
        margin-bottom: 28px;
    }

    .events .images:before
    {
        top: 12px;
        left: 12px;
    }


    .events .images.min_margin
    {
        margin-bottom: 24px;
    }

    .events .images.min_margin:before
    {
        height: calc(100% - 28px);
    }

    .events .images.min_margin .swiper
    {
        padding-bottom: 28px;
    }


    .events .data .title
    {
        font-size: calc(var(--font_size_title) - 8px);
        line-height: calc(100% + 4px);
    }


    .events .swiper-horizontal > .swiper-pagination-bullets,
    .events .swiper-pagination-bullets.swiper-pagination-horizontal,
    .events .swiper-pagination-custom,
    .events .swiper-pagination-fraction
    {
        padding: 0 12px;
    }


    .events .sub
    {
        line-height: 20px;
    }

    .events .sub .sep
    {
        margin: 0 12px;
    }



    /*-------------
        Letters
    -------------*/
    .letters .cont
    {
        padding: 0;
    }


    .letters .title
    {
        font-size: calc(var(--font_size_title) - 8px);
        line-height: calc(100% + 4px);

        padding: 0;
    }



    /*------------------
        Slider block
    ------------------*/
    .slider_block .cont
    {
        padding: 0;
    }


    .slider_block .swiper-button-next,
    .slider_block .swiper-button-prev
    {
        display: none !important;
    }


    .slider_block .data
    {
        height: 400px;
        padding: 40px;
    }


    .slider_block .title
    {
        font-size: 29px;
    }

    .slider_block .sub_title
    {
        font-size: 16px;
    }



    /*-----------------
        Video block
    -----------------*/
    .video_block .data
    {
        width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
        padding: 40px 24px 52px;
    }


    .video_block .desc
    {
        line-height: 22px;

        margin-top: 20px;
    }


    .video_block .line
    {
        margin-top: 24px;
    }


    .video_block .image
    {
        width: 100%;
    }

    .video_block .image:before
    {
        top: 12px;
        right: 12px;
    }



    /*---------
        FAQ
    ---------*/
    .faq .block_title
    {
        font-size: 19px;
        line-height: calc(100% + 6px);

        margin-bottom: 28px;
    }



    /*---------------------
        Thematic design
    ---------------------*/
    .thematic_design .hr
    {
        margin-top: 50px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        margin-bottom: 0;
    }


    footer .cont
    {
        padding: 0;
    }


    footer .data
    {
        padding-right: 24px;
        padding-left: 24px;
    }


    footer .col_left
    {
        width: 100%;
    }


    footer .menu,
    footer .menu + .menu
    {
        line-height: 20px;

        display: block;

        margin-top: 32px;
    }

    footer .menu > * + *
    {
        margin-top: 10px;
    }

    footer .menu + .menu
    {
        margin-left: auto;
    }


    footer .copyright
    {
        font-size: 13px;
        line-height: 19px;

        margin-top: 24px;
    }


    footer .privacy_policy_link
    {
        line-height: 19px;

        margin-top: 20px;
    }


    footer .contacts
    {
        width: 100%;
        margin-top: 36px;
    }


    footer .location
    {
        font-size: 13px;
        line-height: 19px;

        margin-top: 24px;
    }

    footer .location br
    {
        display: none;
    }


    footer .email a
    {
        font-size: 13px;
        line-height: 19px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal .block_head
    {
        margin-bottom: 33px;
    }


    .modal .block_head .title
    {
        line-height: 100%;
    }



    .booking_modal .image
    {
        height: auto;
        padding-bottom: 80%;
    }


    .booking_modal .data
    {
        margin-top: 32px;
    }



    .modal .form .line
    {
        margin-bottom: 16px;
    }


    .modal .form .submit
    {
        width: 100%;
    }

    .modal .form .submit_btn
    {
        width: 100%;
        height: 48px;
        padding: 0 24px;
    }


    .modal .form .agree
    {
        font-size: 12px;
        line-height: 18px;

        width: 100%;
        margin-top: 20px;
    }



    .project_modal
    {
        padding: 0;
    }

    .project_modal .block_head,
    .project_modal .info,
    .project_modal .desc
    {
        display: none;
    }


    .project_modal + .carousel__button.is-close
    {
        top: 12px;
        right: 12px;
    }


    .project_modal .direction
    {
        width: 100%;

        justify-content: center;
    }

    .project_modal .direction .icon
    {
        margin-right: 12px;
    }

    .project_modal .direction + .sep
    {
        display: none;
    }


    .project_modal .gallery
    {
        margin: 0;
    }

    .project_modal .gallery .thumbs
    {
        display: none;
    }



    .quiz_modal
    {
        padding: 40px 32px;
    }


    .quiz_modal .contacts_data
    {
        width: calc(100% + 64px);
        margin: 40px -32px -40px;
        padding: 32px;
    }


    .quiz_modal .form .submit_btn
    {
        width: auto;
    }


    .quiz_modal .back_btn
    {
        left: 0;
    }


    #quiz_finish_modal .form .submit_btn
    {
        margin-right: 0;
        margin-left: auto;
    }


    .quiz_modal .banner img
    {
        max-width: 100%;
        height: auto;
    }


    .quiz_modal .form.step3,
    .quiz_modal .form.step4
    {
        width: calc(100% + 64px);
        margin: 0 -32px;
        padding: 0 32px;
    }



    .band_modal
    {
        padding-right: 32px;
        padding-left: 32px;
    }


    .band_modal .block_head .icon
    {
        display: none;
    }


    .band_modal .info
    {
        margin-top: 40px;
    }


    .band_modal .head .rating
    {
        font-size: 13px;
        line-height: 17px;

        width: 60px;
        height: 60px;
        margin-right: 16px;
        padding-bottom: 4px;
    }

    .band_modal .head .rating span
    {
        font-size: 20px;
    }


    .band_modal .head .name
    {
        font-size: 30px;
        line-height: 38px;

        width: calc(100% - 76px);
    }


    .band_modal .why_we .title
    {
        font-size: 26px;
        line-height: 30px;
    }


    .band_modal .video_link .thumb .icon
    {
        width: 88px;
        height: 88px;
    }

    .band_modal .video_link .thumb .icon svg
    {
        width: 30px;
        height: auto;
    }
}
