.swiper-button-next,
.swiper-button-prev
{
    color: #fff;

    top: 0;
    bottom: 0;

    display: flex;

    width: 43px;
    height: 35px;
    margin: auto;

    transition: color .2s linear;
    transform: none;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.swiper-button-prev
{
    left: 120px;
}

.swiper-button-next
{
    right: 120px;
}

.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 43px;
    height: 35px;
}

.swiper-button-next .icon
{
    transform: rotate(180deg);
}


.carousel .swiper-button-next,
.carousel .swiper-button-prev
{
    color: #6a6a6a;

    width: 55px;
    height: 55px;

    background: #fff;
}

.carousel .swiper-button-prev
{
    left: 0;
}

.carousel .swiper-button-next
{
    right: 0;
}

.carousel .swiper-button-next .icon,
.carousel .swiper-button-prev .icon
{
    display: block;

    width: 28px;
    height: 23px;
}


.swiper-button-next:hover,
.swiper-button-prev:hover
{
    color: #3a54ba;
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: absolute;
    bottom: 50px;
    left: 0;

    display: flex;

    width: 100%;
    height: 5px;

    pointer-events: none;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.swiper-pagination-bullet
{
    display: block;

    width: 5px;
    height: 5px;

    transition: .2s linear;
    pointer-events: auto;

    opacity: 1;
    border-radius: 0;
    background: #fff;
}

.swiper-pagination-bullet + .swiper-pagination-bullet
{
    margin-left: 15px !important;
}


.swiper-pagination-bullet:hover
{
    background: #3a54ba;
}

.swiper-pagination-bullet.active
{
    width: 30px;
}


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
